<% content_for :styles do %>
 <%= stylesheet_link_tag "account" %>
<% end %>
<h1 class="account_logo">
  找到<span class="red">农业圈</span>的<span class="red">人</span>
</h1>
<div class="account_center">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
    <%= f.input :login, :input_html => { :style => "width:351px;height:40px" } %>
    <%= f.input :password, :input_html => { :style => "width:351px;height:40px;" } %>
	
	
</div> 	
<%= notice_message %>
<div class="account_foot">
   <%= f.submit t("common.login"), :class => "btn btn-primary btn-large", :disable_with => t("common.logining") %>
  <span>还没有帐号？</span>
  <%= render :partial => "devise/shared/links" %>
</div>
<% end %>

