<!DOCTYPE html>
<html  class="out_page_body">
<head>
  <%= csrf_meta_tag %>
  <%= render_page_title %>
  <%= stylesheet_link_tag "front" %>
  <%= yield :styles %>

  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8' />
</head>
<body data-offset="50">

  <div id="accout" class="account">
    
	<%= yield %>
  </div>
  <%= javascript_include_tag "app" %>
  <%= yield :scripts %>
  <%= render :partial => "common/google_analytics"%>
</body>
</html>
